/********   PLACING THE ELEMENTS   ********/

/* set the background */

.background{
  position: relative;
  width: 100vw;
  height: 100vh;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

/* set the elements */

.opening-animation{
    display: grid;
    position: relative;
    top: -650px;
    width: 100%;
   /* height: 1000px;*/
    justify-content: center;
    align-content: center
}

.point{
    position: relative;
    padding-bottom: 45px;
    padding-left: 10px;
}

.mouse{
    position: relative;
    left: 1086px;
    bottom: 127px;
}


/********   LOAD-ANIMATION   ********/


/*  text animation  */

.heclick{
    animation: heclick 2s ease;
    opacity: 0;
}


@keyframes heclick {
    0%{
        height: 200px;
        width: 830px;
        opacity: 1;
    }

    50%{
        height: 250px;
        width: 996px; 
        opacity: 1;
    }

    99%{

        opacity: 1;
    }

    100%{
        height: 250px;
        width: 996px; 
        opacity: 0;
    }
}


/*  target (point) animation  */

.point{
    animation: point 2s;
    opacity: 0;
}

@keyframes point {
    0%{
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    99% {
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}


/*  mouse animation  */

.mouse{
    animation: mouse 2s;
    opacity: 0;
}

@keyframes mouse {
    0%{
        opacity: 0;
    }

    59%{
        opacity: 0;
    }

    60% {
        left: 1152px;
        bottom: 66px;
        opacity: 1;
    }

    90%{
        left: 1086px;
        bottom: 127px;
        opacity: 1;
    }

    99%{
        left: 1086px;
        bottom: 127px;
        opacity: 1;
    }

    100%{
        left: 1086px;
        bottom: 127px;
        opacity: 0;
    }
}


/* background animation */

.background{
    animation: background 2s;
    opacity: 0;
}

@keyframes background {
    0%{
        opacity: 1;
    }

    99%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}