html{
    height: 1080px;
}

.container{
}

/***** MENU TOP LEFT *****/

    /* LIST GESTION */
ul{
    list-style: none;
}

nav li ul{
    display: none;
}
    
nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    width:200px;
}

a{
    text-decoration: none;
    width:100px;
    display:inline-block;
    padding:15px;
    text-align:center;
}

li{
    position:relative
}

ul, li{
    margin:0;
    padding:0;
}

      /* MENU N°1 & N°2 */

img[class*="leave"]{
    position: absolute;
    left: 312px;
    top: 14px;
    max-width: 8%;
}

img[class*="leave"]:hover{
    cursor: pointer;
}

img[class*="button-"]:hover{
    cursor: pointer;
}

.button-character{
    max-width: 60%;
}

.button-hetic{
    max-width: 60%;
}

    /* MENU N°1 */

.menu-character{
    position: relative;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.menu-character-t{
    background: #1b1c1d;
    width: 350px;
    height: 350px;
    top: 5px;
    left: 5px;
    border: 7px solid #3f3d3d;
}

/* MENU N°1 - TOP */
.return-inventory{
    position: absolute;
    max-width: 15%;
}

.main-character{
    padding: 40px 0px 0px 10px;
    max-width: 45%;
}

.character-stats{
    font-size: 18px;
    font-weight: 800;
}

.name{
    position: absolute;
    top: 90px;
    left:180px;
    max-width: 100px;
}

.level{
    position: absolute;
    top: 135px;
    left: 180px;

}

.dmg{
    position: absolute;
    top: 165px;
    left: 180px;
    color:#c73f3f;
}

.mag{
    position: absolute;
    top: 195px;
    left: 180px;
    color: #962eb4;  
}

.power{
    position: absolute;
    top: 225px;
    left: 180px;
    color: #3dcd69;
}

.character-item{
    padding: 25px 8px 0 8px;
    justify-content: space-around;
    flex-direction: row;
    display: flex;
}

/* MENU N°1 - BOT */

.menu-character-b{
    background: #1b1c1d;
    width: 350px;
    height: 215px;
    margin-top: 25px;
    left: -5px;
    border: 7px solid #3f3d3d;
}

.inventory{
    font-size: 18px;
    font-weight: 800;
    margin-left: 35px;
    padding-top: 10px;
}

div[class*="line"]{
    display: flex;
    justify-content: space-around;
    padding: 6px 2px 0 2px;
    margin: 1px 5px 8px 1px;
}

.inv-full{
    width: 15%;
    background-image: url(../images/full-inv.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
}

.inv-empty, .inv-full{
    background-image: url(../images/empty-inv.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
    display: grid;
    align-items: center;
    justify-items: center;
}

div[class*="inv-"]{
    background-image: url(../images/empty-inv.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.hand{
    background-image: url(../images/hand.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 70%;
    height: 70%;
}

.body{
    background-image: url(../images/body.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-position: center;
    width: 80%;
    height: 80%;
}

.head{
    background-image: url(../images/head.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80%;
    height: 80%;
}

.foot{
    background-image: url(../images/foot.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80%;
    height: 80%;
}

/* FILL INVENTORY */

.fill{
    cursor: pointer;
}

.hold{
    border: solid #cccccc 2px;
}

.invisible{
    display: none;
}

    /* MENU N°2 */

.menu-hetic{
    background: #1b1c1d;
    border: 7px solid #3f3d3d;
    width: 350px;
    height: 618px;
    top: 5px;
    left: 7px;
}

.return-hetic{
    max-width: 15%;
}

.shop-hetic{
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 12px 1px;
}

/* INDIVICUAL BUY */

div[class*="buy"]{
    background-image: url(../images/background-hetic.png);
    background-repeat: no-repeat;
    background-size: 90%;
    position: relative;
    height: 100px;
    margin-left: 15px;
}


.perso-hetic{
    position: absolute;
    top: 10px;
    left: 8px;
}


/* HETIC---SIZE */
.perso1{
    width: 22%;
}

.perso2{
    width: 20%;
}

.perso3{
    width: 30%;
}

.perso4{
    width: 24%;
}

.ifBuy{
    width: 18%;
    position: absolute;
    left: 51px;
    top: 6px;
    display: none;
}

.diamond{
    width: 18%;
    position: absolute;
    top: 15px;
    left: 52px;
}

span[class*="price-hetic"]{
    font-size: 25px;
    color: #70c6e1;
    position: absolute;
    left: 88px;
    top: 8px;
    text-shadow: 1px 1px 1px #cecece;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
}

.recrut{
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;
    position: absolute;
    top: 40px;
    left: 50px;
    font-family: 'Anton', sans-serif;
}


/* ITEM BAR */
.item-bar{
}

.background-bar{
    background-image: url(../images/item-bar.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 700px;
    height: 100px;
    margin: 0 auto;
    position: fixed;
    top: 60%;
    left: 25%;
}