/* GLOBAL */
body {
    /* background-color: #D7D7D7; */
    margin: 0;
    user-select: none;
}

.game-bg {
    position: absolute;
    z-index: -20;
}

html{
    height: 1080px;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}

.music_on{
    width:40px;
}

.control-panel {
    display: flex;
    width: 100px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.control{
    width:40px;
    border: none;
    cursor: pointer;
    outline: none;
}

.music_off{
    width:40px;
    margin-left: 20px;
}


/* HUD MONSTER HP & LEVEL */
.actualHP{

    position: absolute;
    width: 100%;
    text-align: center;
    top: 7%;
    font-family: 'Anton', sans-serif;
    color: #ffffff;
    font-size: 15px;
}

.level-hud{
    background-image: url(../images/assets/hud/lvl_bar.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 14%;
    left: 46%;
    width: 120px;
    height: 50px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.actualLvl{
    font-family: 'Anton', sans-serif;
    color: #c6eb18;
    font-size: 18px;
}


    /* LIST FOR MENUS */
ul{
    list-style: none;
}

nav li ul{
    display: none;
}
    
nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    width:200px;
}

a{
    text-decoration: none;
    width:100px;
    display:inline-block;
    padding:15px;
    text-align:center;
}

li{
    position:relative
}

ul, li{
    margin:0;
    padding:0;
}

/* GLOBAL BUTTON */
img[class*="leave"]{
    position: absolute;
    left: 312px;
    top: 14px;
    max-width: 8%;
}

img[class*="leave"]:hover{
    cursor: pointer;
}

img[class*="button-"]:hover{
    cursor: pointer;
}

img[class*=button-]{
    user-select: none;
}

.button-character{
    max-width: 60%;
}

.button-hetic{
    max-width: 60%;
}


/* MENU CHARACTER */
.menu-character{
    position: relative;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.menu-character-t{
    background: #1b1c1d;
    width: 350px;
    height: 350px;
    top: 5px;
    left: 5px;
    border: 7px solid #3f3d3d;
}

.return-inventory{
    position: absolute;
    max-width: 15%;
}

.main-character{
    padding: 40px 0px 0px 10px;
    max-width: 32%;
}

.character-stats{
    font-size: 18px;
    font-weight: 800;
}

.name{
    position: absolute;
    top: 90px;
    left:180px;
    max-width: 100px;
}

.level{
    position: absolute;
    top: 135px;
    left: 180px;

}

.dmg{
    position: absolute;
    top: 165px;
    left: 180px;
    color:#c73f3f;
}

.mag{
    position: absolute;
    top: 195px;
    left: 180px;
    color: #962eb4;  
}

.power{
    position: absolute;
    top: 225px;
    left: 180px;
    color: #3dcd69;
}

.character-item{
    padding: 25px 8px 0 8px;
    justify-content: space-around;
    flex-direction: row;
    display: flex;
}

/* MENU N°1 - BOT */

.menu-character-b{
    background: #1b1c1d;
    width: 350px;
    height: 215px;
    margin-top: 25px;
    padding-top: 10px;
    left: -5px;
    border: 7px solid #3f3d3d;
}

.inventory{
    font-size: 18px;
    font-weight: 800;
    margin-left: 35px;
}

div[class*="line"]{
    display: flex;
    justify-content: space-around;
    padding: 6px 2px 0 2px;
    margin: 1px 5px 8px 1px;
}

.inv-full{
    background-image: url(../images/full-inv.png);
}

.inv-empty{
    background-image: url(../images/empty-inv.png);
}

.inv-empty[data-slot=head]{
    background-image: url(../images/empty-head.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
    display: grid;
    align-items: center;
    justify-items: center;  
}

.inv-empty[data-slot=body]{
    background-image: url(../images/empty-body.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
    display: grid;
    align-items: center;
    justify-items: center;  
}

.inv-empty[data-slot=hand]{
    background-image: url(../images/empty-hand.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
    display: grid;
    align-items: center;
    justify-items: center;  
}

.inv-empty[data-slot=foot]{
    background-image: url(../images/empty-foot.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
    display: grid;
    align-items: center;
    justify-items: center;  
}

.inv-empty, .inv-full{
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
    display: grid;
    align-items: center;
    justify-items: center;
}

            /* STUFF LIST */


    /* HAND */
        /* SCPETRE */
.item1[data-slot="hand"]{
    background-image: url(../images/stuff/sword1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 70%;
    height: 70%;
}

.item2[data-slot="hand"]{
    background-image: url(../images/stuff/sword2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 70%;
    height: 70%;
}

.item3[data-slot="hand"]{
    background-image: url(../images/stuff/sword3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 70%;
    height: 70%;
}

        /* SWORD */
.item4[data-slot="hand"]{
    background-image: url(../images/stuff/sceptre1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 70%;
    height: 70%;
}

.item5[data-slot="hand"]{
    background-image: url(../images/stuff/sceptre2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 70%;
    height: 70%;
}

.item6[data-slot="hand"]{
    background-image: url(../images/stuff/sceptre3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 70%;
    height: 70%;
}

        /* BOOK */
.item7[data-slot="hand"]{
    background-image: url(../images/stuff/book1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 70%;
    height: 70%;
}

.item8[data-slot="hand"]{
    background-image: url(../images/stuff/book2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 70%;
    height: 70%;
}


.item9[data-slot="hand"]{
    background-image: url(../images/stuff/book3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 70%;
    height: 70%;
}

    /* HEAD */
.item1[data-slot="head"]{
    background-image: url(../images/stuff/head1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 70%;
    height: 70%;
}

.item2[data-slot="head"]{
    background-image: url(../images/stuff/head2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 70%;
    height: 70%;
}

.item3[data-slot="head"]{
    background-image: url(../images/stuff/head3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 70%;
    height: 70%;
}

    /* BODY */
.item1[data-slot="body"]{
    background-image: url(../images/stuff/body1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 70%;
    height: 70%;
}

.item2[data-slot="body"]{
    background-image: url(../images/stuff/body2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 70%;
    height: 70%;
}

.item3[data-slot="body"]{
    background-image: url(../images/stuff/body3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 70%;
    height: 70%;
}

    /* FOOT */
.item1[data-slot="foot"]{
    background-image: url(../images/stuff/foot1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 70%;
    height: 70%;
}

.item2[data-slot="foot"]{
    background-image: url(../images/stuff/foot2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 70%;
    height: 70%;
}

.item3[data-slot="foot"]{
    background-image: url(../images/stuff/foot3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 70%;
    height: 70%;
}

/* TRASH */
.inv-empty[data-slot="OOF"]{
    background-image: url(../images/poubelle.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 15%;
    height: 15%;
    position: absolute;
    top: 98%;
    left: 3%;
}


/* INVENTORY FOR DRAG & DROP*/

.fill{
    cursor: pointer;
}

.hold{
    border: solid #cccccc 2px;
}

.invisible{
    display: none;
}

/* MENU SHOP */
.menu-hetic{
    background: #1b1c1d;
    border: 7px solid #3f3d3d;
    width: 350px;
    height: 618px;
    top: 5px;
    left: 7px;
}

.return-hetic{
    max-width: 15%;
}

.shop-hetic{
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 12px 1px;
}

/* SHOP */
div[class*="buy"]{
    background-image: url(../images/background-hetic.png);
    background-repeat: no-repeat;
    background-size: 90%;
    position: relative;
    height: 100px;
    margin-left: 15px;
    opacity: 60%;
}

.perso-hetic{
    position: absolute;
    top: 10px;
    left: 8px;
}

div[class*="buy"]:hover{
    cursor: pointer;
    opacity: 100%;
    transition: linear 200ms;
}

div[class*='buy']:hover > span[class*="price"]{
    font-size: 28px;
    font-weight: 900;
    transition: linear 200ms;
}

/* SHOP */
.ifBuy{
    background-image: url(../images/ifBuy.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40%;
    height: 70%;
    position: absolute;
    text-align: center;
    justify-items: center;
    justify-content: center;
    left: 65px;
    top: 10px;
    display: none;
}

.diamond{
    width: 18%;
    position: absolute;
    top: 15px;
    left: 52px;
}

span[class*="price-hetic"]{
    font-size: 25px;
    color: #70c6e1;
    position: absolute;
    left: 88px;
    top: 8px;
    text-shadow: 1px 1px 1px #cecece;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
}

.recrut{
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;
    position: absolute;
    top: 40px;
    left: 50px;
    font-family: 'Anton', sans-serif;
}

/* HETIC CHARACTER---SIZE */
.perso1{
    width: 32%;
}
.perso2{
    width: 28%;
}
.perso3{
    width: 22%;
}
.perso4{
    width: 24%;
}
.perso5{
    width: 25%;
}
.perso6{
    width: 24%;
}
.perso7{
    width: 28%;
}
.perso8{
    width: 20%;
}
.perso9{
    width: 28%;
}
.perso10{
    width: 20%;
}

/* IF ITEMS */
img[class^=hetic-item]{
    display: none   ;
}

.hetic-item1{
    width: 80%;
    height: 70%;
    padding: 6px;
}
.hetic-item2{
    width: auto;
    height: 70%;
    padding: 10px;
}
.hetic-item3{
    width: 80%;
    height: 60%;
    padding: 7px;
}
.hetic-item4{
    width: 40%;
    height: 75%;
    padding: 6px;
}
.hetic-item5{
    width: 80%;
    height: 70%;
    padding: 6px;
}
.hetic-item6{
    width: 65%;
    height: 75%;
    padding: 8px;
}
.hetic-item7{
    width: 80%;
    height: 70%;
    padding: 6px;
}
.hetic-item8{
    width: 70%;
    height: 85%;
    padding: 6px;
}
.hetic-item9{
    width: 80%;
    height: 70%;
    padding: 6px;
}
.hetic-item10{
    width: 60%;
    height: 70%;
    padding: 6px;
}

/* HETIC CHARACTER */
.hetic-character1{
    background-image: url(../images/perso1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 400px;
    width: 200px;
    position: absolute;
    top: 20%;
    left: 39%;
    z-index: -10;
    display: none;
}
.hetic-character2{
    background-image: url(../images/perso2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 380px;
    width: 190px;
    position: absolute;
    top: 30%;
    left: 35%;
    z-index: -1;
    display: none;
}
.hetic-character3{
    background-image: url(../images/perso3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 300px;
    width: 150px;
    position: absolute;
    top: 40%;
    left: 48%;
    display: none;
}
.hetic-character4{
    background-image: url(../images/perso4.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 350px;
    width: 175px;
    position: absolute;
    top: 0%;
    left: 12%;
    z-index: -4;
    transform: rotateZ(18deg);
    display: none;
}
.hetic-character5{
    background-image: url(../images/perso5.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 200px;
    width: 100px;
    position: absolute;
    top: 0%;
    left: 78%;
    transform: rotateZ(-50deg);
    display: none;
}
.hetic-character6{
    background-image: url(../images/perso6.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 375px;
    width: 150px;
    position: absolute;
    top: 15%;
    left: 27%;
    z-index: -7;
    display: none;
}
.hetic-character7{
    background-image: url(../images/perso7.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 400px;
    width: 200px;
    position: absolute;
    top: 38%;
    left: 28%;
    z-index:-1;
    display: none;
}
.hetic-character8{
    background-image: url(../images/perso8.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 300px;
    width: 150px;
    position: absolute;
    top: 35%;
    left: 0%;
    z-index: -1;
    display: none;
}
.hetic-character9{
    background-image: url(../images/perso9.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 400px;
    width: 200px;
    position: absolute;
    top: 20%;
    left: 18%;
    z-index: -3;
    display: none;
}
.hetic-character10{
    background-image: url(../images/perso10.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 340px;
    width: 170px;
    position: absolute;
    top: 38%;
    left: 10%;
    z-index: -1;
    display: none;
}

/* GOLD MENU -- TOP RIGHT */
.top-right{
    height: 54px;
    width: 200px;
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
}

.button-plus{
    background-image: url(../images/button-shop.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
}

.gold-button{
    background-image: url(../images/button-gold.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 200%;
    height: 100%;
    display: flex;
    align-items: center;
}

.plus-text{
    color: #70c6e1;
    font-family: 'Anton', sans-serif;
    font-size: 90px;
    font-weight: 500;   /* Je n'arrive pas à bien placr le "+" */
    position: absolute;
    top: -50px;
    left: 3px;
}

.button-plus:hover{
    cursor: pointer;
}

.diamond-top{
    width: auto;
    height: auto;
    margin: 5px;
}

.gold-posses{
    color: #70c6e1;
    font-family: 'Anton', sans-serif;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2px;
}

/* ITEM BAR */
.background-bar{
    background-image: url(../images/item-bar.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 700px;
    height: 75px;
    margin: 0 auto;
    position: fixed;
    top: 93%; left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    display: flex;
    align-items: center;
}

div[class*="item-slot"]{
    background-image: url(../images/item-slot.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 40px;
    width: 40px;
    /* margin: 100px; */
    display: inline-block;
    margin-top: 8px;
}

.background-bar span{
    font-family: 'Anton', sans-serif;
    color: #ffffff;
    font-size: 12px;
    height: 10px;
    width: 40px;
    text-align: center;
    padding: 5px;
}

.items-slots{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    width: 100%;

}

.items-nmb{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.bar-hetic-item{
    width: 100%;
    margin-top: 2px;
}
.item-slot2 > img{
    width: 60%;
}
.item-slot3 > img{
    width: 90%;
}
.item-slot4 > img{
    width: 35%;
}
.item-slot5 > img{
    width: 85%;
}
.item-slot6 > img{
    width: 65%;
}
.item-slot7 > img{
    width: 80%;
}
.item-slot8 > img{
    width: 60%;
}
.item-slot9 > img{
    width: 80%;
}
.item-slot10 > img{
    width: 58%;
}

.lock{
    opacity: 20%;
}